@import url('https://fonts.googleapis.com/css2?family=Charm&family=Comfortaa&family=Rubik+Wet+Paint&family=Sawarabi+Mincho&family=Source+Code+Pro&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: auto;
    height: auto;
    padding: 0 16px;
    background-color: bisque;

}

nav {
    display: flex;
    background-color: rgb(207, 64, 72);

}

nav h1 {

    font-family: 'Charm', cursive;
    font-size: 50px;
    margin-right: auto;
    color: white;
    padding-left: 75px;

}

.nav-items {

    display: flex;
    font-family: 'Comfortaa', cursive;
    align-items: center;
    margin-left: auto;
    padding-right: 75px;
    color: rgb(17, 17, 17);


}

.nav-sub-item {
    list-style-type: none;
    padding: 25px;
    justify-content: space-around;
    text-decoration: none;

    font-size: 25px;

}




a:link {
    text-decoration: none;
}

a:hover {
    text-transform: uppercase;
}

.h2-titles {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 35px;
    text-align: justify;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}

.about-me-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;

    color: rgb(0, 0, 0);

}

.about-me-text-container {
    display: block;
}

.portrait {
    border-radius: 50%;
}

.project-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
}


#projects {

    color: rgb(0, 0, 0);
}

.project-image {
    height: 400px;
    width: auto;
}

.skills-box {
    display: flex;
    width: auto;
    justify-content: space-around;
}

.skills-box img {
    width: auto;
    height: 150px;
    padding: 0 50px;
}

.foot-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 30px;

}

footer img {
    width: 100px;
    height: 100px;
}

footer p {
    font-size: 30px;
}